* {
	font-family: "Tahoma", sans-serif;
	/*border: #000 solid 1px;*/
}

body {
	margin: 0;
}

#menu {
	width: 800px;	
	background-image: url(../img/fundo-preto.png);
	background-repeat: repeat-x;
	float: right;	
	border-radius: 0 0 0 80px;	
}

#menu li {
	list-style: none;
	display: inline;
	border: none;
	border-right: 3px solid #bbb;
	padding: 0 30px;
}

#menu a {
	color: #fff;
	text-decoration: none;
}

header {
	background-image: url(../img/fundo-azul.png);
}

.clearfix {
	clear: both;
}

.categoria-cabecalho {
	background-color: #000;
	color: #BBB;
	margin: 0;
	padding: 15px;
	border-radius: 10px;
	font-weight: normal;
}

.fonte-grande {
	font-family: "Courries", monospace;
	font-size: 3em;
}

.categoria-item {
	padding: 0 10px;
}

.categoria-item a {
	color: #000;
	text-decoration: none;
}

.categoria-item li {
	padding: 10px;
	margin: 0px 0px 10px;
	list-style: none;
	background-color: rgb(247,247,247); 
	border-bottom: 1px solid #000;
}

#menu-lateral, main {
	float: left;
}

#menu-lateral {
	width: 400px;
	background-color: rgb(236,236,236);
}

main {
	width: 800px;
}

main h2 {
	border-bottom: rgb(178,210,31) solid 3px;
}

.produto {
	width: 400px;
	float: left;
}

.produto h5 {
	color: rgb(53,117,165);
	font-size: 1.4em;
	font-weight: bold;
	margin: 4px 0;
}

span {
	color: rgb(163,0,3);
	font-size: 1.8em;
	font-weight: bold;
}

.produto img {
	float: right;
}

.produto-controle {
	clear: right;
	width: 300px;
	margin: 0 auto;
}

.produto-controle button {
	width: 120px;
	margin: 0 13px;
}

